*{
	font-family: $body_font;
}

nav{
	position: $position;
	z-index: $z-index;
	box-shadow: $box-shadow;

}

.brand-logo{
	margin-left: $left_uno;
}

.waves-effect{
	background-color: $color_button;
}

.fondo {

	width: $city_width;
}
.cuatro {
	background-color: $background_dos;
}

.cuatro img{
	width: $image_width;
	heigth: $image_heigth;
}

.cuatro h4, h6{
	text-align: $text_center;
}

.cuatro li{
	margin-left: $left_uno;
	color: $color_uno;
}

.cinco h4, h6{
	text-align: $text_center;
}





