$body_font: 'Raleway', sans-serif;
$background_uno: transparent;
$background_dos: whitesmoke;
$color_button: #FF00FF;
$image_width: 60%;
$image_heigth: 60%;
$width: 90%;
$heigth: 90%;
$city_width: 100%;
$text_center: center;
$position: fixed;
$z-index: 3;
$box-shadow: none;
$left_uno: 50px;
$left_dos: 30px;
$color_uno: #FF00FF;
$color_dos: #808080;